// BANNER 1

.banner1 {

    padding: 110px 0;
    background-image: url("https://templates.envytheme.com/erudex/default/assets/images/page-bg/page-bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

    .st-title-top {

        span,
        h2,
        p {
            color: $color-fifth;
        }

    }
}

// BANNER 2
.banner2 {
    padding: 100px 0;
    background-image: url("https://templates.envytheme.com/erudex/default/assets/images/page-bg/page-bg-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .st-title-top {

        h2,
        p {
            color: $color-fifth;
        }

        h2 {
            font-size: var(--sizeTextt2);
            margin: 0 0 20px 0;
        }

        p {
            font-size: var(--sizeTextp3);
            margin: 0 0 30px 0;
        }
    }

    .form-suscribe {
        .form-item{
            background-color: $color-fifth;
            max-width: 690px;
            width: 100%;
            border-radius: 35px;
            padding: 10px;
            overflow: hidden;
            input{
                background-color: transparent;
                border: 0;
                padding: 10px 20px;
                color: #000;
                font-size: 15px;
                width: 100%;
            }
            button{
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
}

.bannerHeader{
    background-color: $color-bg2;
    padding: 100px 0;

    .st-title-top2{
        ul{
            gap: 8px;
        }
    }
}