extends ../templates/template.pug

block main
    section.bannerHeader
        .container
            .st-title-top2.flex-v
                h2 Sobre nosotros
                ul.flex
                    li 
                        a(href="index.html") Inicio
                    li >>
                    li Sobre nosotros

    section.abouth
        .container.flex-b
            .abouth-image
                figure 
                    img(src="https://templates.envytheme.com/erudex/default/assets/images/feature-shape/feature-shape-1.png", alt="")
            .abouth-info
                span Acerca de Nosotros
                h2 Acerca de Nosotros
                h3 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                ul
                    li Advance Advisory Team
                    li Many variations of passages
                    li Advance Quality Experts  
                    li High-Quality Results
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.

    section.process(style="background-color: white")
        .container
            .st-title-top.flex-v
                span Our Values
                h2 Valores
            .process-guide
                .process-g-item
                    .icon-process
                            <i class="fas fa-user-tie"></i>
                    h3 Pasion por lo que hacemos
                    p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.
                .process-g-item
                    .icon-process
                            <i class="fas fa-user-tie"></i>
                    h3 Cooperación
                    p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.
                .process-g-item
                    .icon-process
                            <i class="fas fa-user-tie"></i>
                    h3 Integridad
                    p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.
    
    //=== Testimonios
    section.testimonial
        .container
            .st-title-top.flex-v
                span Testimonios
                h2 Qué dicen nuestros clientes sobre nuestro magnífico servicio
            .testimonial-carousel
                //- testimonial-item
                .testimonial-item
                    .testimonial-body
                        //--testimonial-item-header
                        .testimonial-i-header.flex-b
                            h2 Floradex
                            span
                                <i class="fas fa-quote-left"></i>
                        p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                        ul.testimonial-lists-star.flex
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                    .testimonial-perfil.flex
                        figure
                            img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")
                        .testimonial-perfil-date
                            h4 Jhonson Mandel
                            p Los angeles
                .testimonial-item
                    .testimonial-body
                        .testimonial-i-header.flex-b
                            h2 Floradex
                            span
                                <i class="fas fa-quote-left"></i>
                        p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                        ul.testimonial-lists-star.flex
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                    .testimonial-perfil.flex
                        figure
                            img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")
                        .testimonial-perfil-date
                            h4 Jhonson Mandel
                            p Los angeles
                .testimonial-item
                    .testimonial-body
                        .testimonial-i-header.flex-b
                            h2 Floradex
                            span
                                <i class="fas fa-quote-left"></i>
                        p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                        ul.testimonial-lists-star.flex
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                    .testimonial-perfil.flex
                        figure
                            img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")
                        .testimonial-perfil-date
                            h4 Jhonson Mandel
                            p Los angeles