extends ../templates/template.pug

//- Articulos

block main
    section.bannerHeader
        .container
            .st-title-top2.flex-v
                h2 Articulos
                ul.flex
                    li 
                        a(href="index.html") Inicio
                    li >>
                    li 
                        a(href="blog.html") Blog
                    li >>
                    li Articulos

    section.barticle
        .container
            .barticle-main.flex-b
                section.barticle-left
                    article.barticle-info
                        figure.barticle-figure
                            img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-details.jpg", alt="")
                        h2.barticle-title The Current State Of Artificial Intelligence Infographic
                        p lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulp theutate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class thaptent taciti sociosqu ad litora torquent per. conubia nostra, per inceptos himenaeos.
                        ul
                            li Advance Advisory Team
                            li Many variations of passages
                            li Advance Quality Experts  
                            li High-Quality Results
                        p Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulp theutate cursus a sit amet mauris.

                        blockquote.barticle-blockq
                            p “Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulp theutate cursus a sit amet mauris.”
                            span -- David Joe
                        
                        h3.barticle-subtitles The Rutrum Ullamcorper Mattis
                        p Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulp theutate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class thaptent taciti sociosqu ad litora torquent per. conubia nostra, per inceptos himenaeos.

                        h3.barticle-subtitles The Stand Lorem Ipsum Passage
                        p Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulp theutate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class thaptent taciti sociosqu ad litora torquent per. conubia nostra, per inceptos himenaeos.

                        .barticle-figureItem.flex-b
                            figure
                                img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-details-1.jpg", alt="")
                            
                            figure
                                img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-details-2.jpg", alt="")


                        p Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulp theutate cursus a sit amet mauris.

                    section.commentsA
                        h3 
                            | Comments
                            span (02)
                        .commentsA
                            .commentsA-item
                                figure 
                                    img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-author-1.jpg", alt="")
                                .commentsA-content
                                    .commentsA-header
                                        .commentsA-date
                                            h4 Jennifer Andrew
                                            span 3 weeks ago
                                        button Reply
                                    p Lorem ipsum dolor sit amet, consetetur sa dipscing elitr, sed diam nonumy ser irmodey tey mporep invidunt ut laboredi et dolore ma gna aliquyam.
                                .commentsA-content
                                    .commentsA-header
                                        //- comment-title
                                        .commentsA-date
                                            h4 Jennifer Andrew
                                            span 3 weeks ago
                                        button Reply
                                    p Lorem ipsum dolor sit amet, consetetur sa dipscing elitr, sed diam nonumy ser irmodey tey mporep invidunt ut laboredi et dolore ma gna aliquyam.
                            .commentsA-message
                                h3 Leave A Comment
                                form().commentsA-form
                                    input(type="text", placeholder="Tu Nombre*")
                                    input(type="email", placeholder="Tu Email*")
                                    //- textarea#(cols="30", rows="10", placeholder="Tu comentario") 
                                    .commentsA-acept
                                        input(type="checkbox", name="checkc")
                                        label(for="checkc") Save my name and email in this browser for the next time I comment.
                                    button(type="submit") Send a Comment
                section.barticle-navoptions
                    article.searchA
                        .searchA-content
                            .searchA-main
                                input(type="text", placeholder="Buscar")
                                button(type="submit") S
                    article.barticle-autor
                        p “Proin gravida nibh vel velit auctor aliquet nean sollicitudin.Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.Proin vel velit auctor aliquet Aenean sollicitudin.”
                        .barticle-autor-perfil
                            figure 
                                img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-author-1.jpg", alt="")
                            h4 Jonson Mandel
                            span Los Angel
                    article.barticle-recent
                        a.barticle-recent-item
                            figure 
                                img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-8.jpg", alt="")
                            
                            .barticle-recent-date
                                h5 The Current State Of Artificial Intelligence Infographic
                                span January 24, 2021
                        a.barticle-recent-item
                            figure 
                                img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-8.jpg", alt="")
                            
                            .barticle-recent-date
                                h5 The Current State Of Artificial Intelligence Infographic
                                span January 24, 2021
                        a.barticle-recent-item
                            figure 
                                img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-8.jpg", alt="")
                            
                            .barticle-recent-date
                                h5 The Current State Of Artificial Intelligence Infographic
                                span January 24, 2021
                    article.categories
                        ul
                            li
                                a(href="") Technology
                                span (02)
                            li
                                a(href="") Technology
                                span (02)
                            li
                                a(href="") Technology
                                span (02)
                            li
                                a(href="") Technology
                                span (02)
