extends ../templates/template
block  main
    section.bannerHeader
        .container
            .st-title-top2.flex-v
                h2 Eventos
                ul.flex
                    li 
                        a(href="index.html") Inicio
                    li >>
                    li Eventos
