<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>  

        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet", href="css/styles.css")
        title Document
    body
        header.header
            .container
                section.top-date.flex.flex-b
                    .top-date-left.flex
                        .top-date-phone.flex
                            <i class="fas fa-headphones-alt"></i>
                            p + 51 948 966 291
                        span.line-v
                        .top-date-email.flex
                            <i class="fas fa-headphones-alt"></i>
                            p edu.psicologica@gmail.com
                    .top-date-right.flex
                        .top-date-request.flex
                            <i class="fas fa-headphones-alt"></i>
                            p Request info
                        span.line-v
                        .top-date-search.flex
                            <i class="fas fa-headphones-alt"></i>
                            p Search
                section.header-nav.flex-b
                    .header-nav-logo
                        img(src="./images/logo.png", alt="")
                    .header-nav-list.flex
                        a(href="") Inicio
                        a(href="") Sobre nosotros
                        a(href="") Eventos
                        a(href="") Red Psicologos
                        a(href="") Podcast
                        a(href="") Blog
                        a(href="") Campus Virtual
                    .header-button
                        a(href="").btn Login or Register
        section.portada
            .container.flex-b
                .portada-intro
                    h1 Best Machine Learning Product Creator
                    p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh
                    .portada-buttons.flex
                        a(href="").btn Get Started
                        a(href="").btn2 Star a free trial
                .portada-img
                    figure
                        img(src="https://templates.envytheme.com/erudex/default/assets/images/homepage-one/header-shape.png", alt="")
        section.introduction
            .container.flex-v
                h2 
                    |   Any Sufficiently Advanced 
                    |   Technology Is Indistinguishable From Magic
                .introduction-types
                    .introduction-items
                        .header-top.flex
                            .intro-icon
                                <i class="fas fa-user-tie"></i>
                            h3 ML Technology
                        p Proin gravida nibh vel velit auctor aliquet aenean sollicitudin.
                        a(href="") Discover More >
                    .introduction-items
                        .header-top.flex
                            .intro-icon
                                <i class="fas fa-user-tie"></i>
                            h3 ML Technology
                        p Proin gravida nibh vel velit auctor aliquet aenean sollicitudin.
                        a(href="") Discover More >
                    .introduction-items
                        .header-top.flex
                            .intro-icon
                                <i class="fas fa-user-tie"></i>
                            h3 ML Technology
                        p Proin gravida nibh vel velit auctor aliquet aenean sollicitudin.
                        a(href="") Discover More >
                    .introduction-items
                        .header-top.flex
                            .intro-icon
                                <i class="fas fa-user-tie"></i>
                            h3 ML Technology
                        p Proin gravida nibh vel velit auctor aliquet aenean sollicitudin.
                        a(href="") Discover More >
        section.about
            .container.flex-b
                .about-image
                    figure 
                        img(src="https://templates.envytheme.com/erudex/default/assets/images/feature-shape/feature-shape-1.png", alt="")
                .about-info
                    span Acerca de Nosotros
                    h2 Acerca de Nosotros
                    h3 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    ul
                        li Advance Advisory Team
                        li Many variations of passages
                        li Advance Quality Experts  
                        li High-Quality Results
                    p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.

                    a(href="").btn Abouts Us

        section.services
            .container
                .st-title-top.flex-v
                    span Services
                    h2 Our Purpose Is To Deliver Excellence In Service And Execution
                    p Our purpose is to deliver excellence in service and execution Our purpose is to deliver excellence in service and Our purpose is to deliver excellence in service.
                .services-types
                    //- services types item
                    .services-tItem
                        .icon-service.flex-v
                             <i class="fas fa-headphones-alt"></i>
                        h3 Robotic Automation
                        p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                        a(href="") Discover more >
                    .services-tItem
                        .icon-service.flex-v
                             <i class="fas fa-headphones-alt"></i>
                        h3 Robotic Automation
                        p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                        a(href="") Discover more >
                    .services-tItem
                        .icon-service.flex-v
                             <i class="fas fa-headphones-alt"></i>
                        h3 Robotic Automation
                        p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                        a(href="") Discover more >
        article.banner1
            .container
                .st-title-top.flex-v
                    h2 We Are Offering 14 Days Free Trial
                    p Our purpose is to deliver excellence in service and execution Our purpose is to deliver excellence in service and Our purpose is to deliver excellence in service.
                    a(href="").btn2 Try 14 free days
        section.process
            .container
                .st-title-top.flex-v
                    span Our Process
                    h2 Process How Machine Learning Will Help Your Business
                .process-guide
                    .process-g-item
                        .icon-process
                             <i class="fas fa-user-tie"></i>
                        h3 Planning
                        p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.
                    .process-g-item
                        .icon-process
                             <i class="fas fa-user-tie"></i>
                        h3 Planning
                        p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.
                    .process-g-item
                        .icon-process
                             <i class="fas fa-user-tie"></i>
                        h3 Planning
                        p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.

        section.testimonial
            .container
                .st-title-top.flex-v
                    span Testimonios
                    h2 Qué dicen nuestros clientes sobre nuestro magnífico servicio
                .testimonial-carousel
                    //- testimonial-item
                    .testimonial-item
                        .testimonial-body
                            //--testimonial-item-header
                            .testimonial-i-header.flex-b
                                h2 Floradex
                                span
                                    <i class="fas fa-quote-left"></i>
                            p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                            ul.testimonial-lists-star.flex
                                li 
                                    <i class="fas fa-star"></i>
                                li 
                                    <i class="fas fa-star"></i>
                                li 
                                    <i class="fas fa-star"></i>
                                li 
                                    <i class="fas fa-star"></i>
                                li 
                                    <i class="fas fa-star"></i>
                        .testimonial-perfil.flex
                            figure
                                img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")
                            .testimonial-perfil-date
                                h4 Jhonson Mandel
                                p Los angeles
                    .testimonial-item
                        .testimonial-body
                            .testimonial-i-header.flex-b
                                h2 Floradex
                                span
                                    <i class="fas fa-quote-left"></i>
                            p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                            ul.testimonial-lists-star.flex
                                li 
                                    <i class="fas fa-star"></i>
                                li 
                                    <i class="fas fa-star"></i>
                                li 
                                    <i class="fas fa-star"></i>
                                li 
                                    <i class="fas fa-star"></i>
                                li 
                                    <i class="fas fa-star"></i>
                        .testimonial-perfil.flex
                            figure
                                img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")
                            .testimonial-perfil-date
                                h4 Jhonson Mandel
                                p Los angeles
                    .testimonial-item
                        .testimonial-body
                            .testimonial-i-header.flex-b
                                h2 Floradex
                                span
                                    <i class="fas fa-quote-left"></i>
                            p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                            ul.testimonial-lists-star.flex
                                li 
                                    <i class="fas fa-star"></i>
                                li 
                                    <i class="fas fa-star"></i>
                                li 
                                    <i class="fas fa-star"></i>
                                li 
                                    <i class="fas fa-star"></i>
                                li 
                                    <i class="fas fa-star"></i>
                        .testimonial-perfil.flex
                            figure
                                img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")
                            .testimonial-perfil-date
                                h4 Jhonson Mandel
                                p Los angeles
        //- Blog home
        section.blogh
            .container
                .st-title-top.flex-v
                    span Blog
                    h2 Noticias de la empresa Leer todo Blog relacionado
                .blogh-articles
                    .blogh-item
                        figure.blogh-image
                            img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-1.jpg", alt="")
                        .blogh-card-text
                            .blogh-category 
                                span Techonology
                            h3 Technology Is Machine Learning Right Going On Good Way
                            //- blog perfil autor
                            .blogh-autor.flex
                                figure
                                    img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")

                                //- class blog card autor text
                                .blogh-autor-date
                                    h4 
                                        span BY: 
                                        | David Joe
                                    p 5 Jnauary 2021
                    .blogh-item
                        figure.blogh-image
                            img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-1.jpg", alt="")
                        .blogh-card-text
                            .blogh-category 
                                span Techonology
                            h3 Technology Is Machine Learning Right Going On Good Way
                            //- blog perfil autor
                            .blogh-autor.flex
                                figure
                                    img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")

                                //- class blog card autor text
                                .blogh-autor-date
                                    h4 
                                        span BY: 
                                        | David Joe
                                    p 5 Jnauary 2021
                    .blogh-item
                        figure.blogh-image
                            img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-1.jpg", alt="")
                        .blogh-card-text
                            .blogh-category 
                                span Techonology
                            h3 Technology Is Machine Learning Right Going On Good Way
                            //- blog perfil autor
                            .blogh-autor.flex
                                figure
                                    img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")

                                //- class blog card autor text
                                .blogh-autor-date
                                    h4 
                                        span BY: 
                                        | David Joe
                                    p 5 Jnauary 2021
        .section.banner2
            .container
                .st-title-top.flex-v
                    h2 Subscribe For Newsletter
                    p Subscribe To Our Newsletter & Stay Updated
                form.form-suscribe(action="").flex-c 
                    .form-item.flex-b
                        input.input-suscribe(type="email", placeholder="Ingresa tu email*")
                        button.btn(type="submit") Suscribirse
        .footer
            .container
                .footer-upper.flex
                    .footer-marca.footer-item
                        figure
                            img(src="https://templates.envytheme.com/erudex/default/assets/images/logo.png", alt="logo")
                        p Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate.
                        .footer-social-media.flex
                            a(href="").flex-v
                                <i class="fab fa-facebook-f"></i>
                            a(href="").flex-v
                                <i class="fab fa-youtube"></i>
                    .footer-item
                        h3 Navegacion Links
                        ul.fnav-list
                            li 
                                a(href="") About Us
                            li 
                                a(href="") News & Blogs
                            li 
                                a(href="") Services
                            li 
                                a(href="") Products
                            li 
                                a(href="") Contact
                    .footer-item
                        h3 Servicios
                        ul.fnav-list
                            li 
                                a(href="") About Us
                            li 
                                a(href="") News & Blogs
                            li 
                                a(href="") Services
                            li 
                                a(href="") Products
                            li 
                                a(href="") Contact
                    .footer-item.footer-contact
                        h3 Contacto
                        .footer-contact-item
                            h4 Telefono:
                            a(href="") (+51) 987 654 432
                        .footer-contact-item
                            h4 Email:
                            a(href="") edu.psicologica@gmail.com 
                        .footer-contact-item
                            h4 Dirección:
                            a(href="") Trujillo - Perú
                        
                            

        //- Arifur Rahman Tushar 
        //- <img style="width:100%; height:auto;  position: absolute; top:0; z-index: -2; opacity: 0.5;" src="./images/web.png" alt="">

        //- swiper
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")  

        script(src="js/scripts-min.js")