extends ../templates/template
block main
    //-== Portada
    section.portada
        .container.flex-b
            .portada-intro
                h1 Best Machine Learning Product Creator
                p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh
                .portada-buttons.flex
                    a(href="").btn Get Started
                    a(href="").btn2 Star a free trial
            .portada-img
                figure
                    img(src="https://templates.envytheme.com/erudex/default/assets/images/homepage-one/header-shape.png", alt="")
    //== Introduccion
    section.introduction
        .container.flex-v
            h2 
                |   Any Sufficiently Advanced 
                |   Technology Is Indistinguishable From Magic
            .introduction-types
                .introduction-items
                    .header-top.flex
                        .intro-icon
                            <i class="fas fa-user-tie"></i>
                        h3 ML Technology
                    p Proin gravida nibh vel velit auctor aliquet aenean sollicitudin.
                    a(href="") Discover More >
                .introduction-items
                    .header-top.flex
                        .intro-icon
                            <i class="fas fa-user-tie"></i>
                        h3 ML Technology
                    p Proin gravida nibh vel velit auctor aliquet aenean sollicitudin.
                    a(href="") Discover More >
                .introduction-items
                    .header-top.flex
                        .intro-icon
                            <i class="fas fa-user-tie"></i>
                        h3 ML Technology
                    p Proin gravida nibh vel velit auctor aliquet aenean sollicitudin.
                    a(href="") Discover More >
                .introduction-items
                    .header-top.flex
                        .intro-icon
                            <i class="fas fa-user-tie"></i>
                        h3 ML Technology
                    p Proin gravida nibh vel velit auctor aliquet aenean sollicitudin.
                    a(href="") Discover More >

    //-=== About
    section.abouth
        .container.flex-b
            .abouth-image
                figure 
                    img(src="https://templates.envytheme.com/erudex/default/assets/images/feature-shape/feature-shape-1.png", alt="")
            .abouth-info
                span Acerca de Nosotros
                h2 Acerca de Nosotros
                h3 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                ul
                    li Advance Advisory Team
                    li Many variations of passages
                    li Advance Quality Experts  
                    li High-Quality Results
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.

                a(href="").btn Abouts Us

    //=== Service
    section.services
        .container
            .st-title-top.flex-v
                span Services
                h2 Our Purpose Is To Deliver Excellence In Service And Execution
                p Our purpose is to deliver excellence in service and execution Our purpose is to deliver excellence in service and Our purpose is to deliver excellence in service.
            .services-types
                //- services types item
                .services-tItem
                    .icon-service.flex-v
                            <i class="fas fa-headphones-alt"></i>
                    h3 Robotic Automation
                    p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                    a(href="") Discover more >
                .services-tItem
                    .icon-service.flex-v
                            <i class="fas fa-headphones-alt"></i>
                    h3 Robotic Automation
                    p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                    a(href="") Discover more >
                .services-tItem
                    .icon-service.flex-v
                            <i class="fas fa-headphones-alt"></i>
                    h3 Robotic Automation
                    p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                    a(href="") Discover more >
    article.banner1
        .container
            .st-title-top.flex-v
                h2 We Are Offering 14 Days Free Trial
                p Our purpose is to deliver excellence in service and execution Our purpose is to deliver excellence in service and Our purpose is to deliver excellence in service.
                a(href="").btn2 Try 14 free days
    section.process
        .container
            .st-title-top.flex-v
                span Our Process
                h2 Process How Machine Learning Will Help Your Business
            .process-guide
                .process-g-item
                    .icon-process
                            <i class="fas fa-user-tie"></i>
                    h3 Planning
                    p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.
                .process-g-item
                    .icon-process
                            <i class="fas fa-user-tie"></i>
                    h3 Planning
                    p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.
                .process-g-item
                    .icon-process
                            <i class="fas fa-user-tie"></i>
                    h3 Planning
                    p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.

    //=== Testimonios
    section.testimonial
        .container
            .st-title-top.flex-v
                span Testimonios
                h2 Qué dicen nuestros clientes sobre nuestro magnífico servicio
            .testimonial-carousel
                //- testimonial-item
                .testimonial-item
                    .testimonial-body
                        //--testimonial-item-header
                        .testimonial-i-header.flex-b
                            h2 Floradex
                            span
                                <i class="fas fa-quote-left"></i>
                        p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                        ul.testimonial-lists-star.flex
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                    .testimonial-perfil.flex
                        figure
                            img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")
                        .testimonial-perfil-date
                            h4 Jhonson Mandel
                            p Los angeles
                .testimonial-item
                    .testimonial-body
                        .testimonial-i-header.flex-b
                            h2 Floradex
                            span
                                <i class="fas fa-quote-left"></i>
                        p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                        ul.testimonial-lists-star.flex
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                    .testimonial-perfil.flex
                        figure
                            img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")
                        .testimonial-perfil-date
                            h4 Jhonson Mandel
                            p Los angeles
                .testimonial-item
                    .testimonial-body
                        .testimonial-i-header.flex-b
                            h2 Floradex
                            span
                                <i class="fas fa-quote-left"></i>
                        p Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.
                        ul.testimonial-lists-star.flex
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                            li 
                                <i class="fas fa-star"></i>
                    .testimonial-perfil.flex
                        figure
                            img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")
                        .testimonial-perfil-date
                            h4 Jhonson Mandel
                            p Los angeles
    //=== Blog home
    section.blogh
        .container
            .st-title-top.flex-v
                span Blog
                h2 Noticias de la empresa Leer todo Blog relacionado
            .blogh-articles
                .blogh-item
                    figure.blogh-image
                        img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-1.jpg", alt="")
                    .blogh-card-text
                        .blogh-category 
                            span Techonology
                        h3 Technology Is Machine Learning Right Going On Good Way
                        //- blog perfil autor
                        .blogh-autor.flex
                            figure
                                img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")

                            //- class blog card autor text
                            .blogh-autor-date
                                h4 
                                    span BY: 
                                    | David Joe
                                p 5 Jnauary 2021
                .blogh-item
                    figure.blogh-image
                        img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-1.jpg", alt="")
                    .blogh-card-text
                        .blogh-category 
                            span Techonology
                        h3 Technology Is Machine Learning Right Going On Good Way
                        //- blog perfil autor
                        .blogh-autor.flex
                            figure
                                img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")

                            //- class blog card autor text
                            .blogh-autor-date
                                h4 
                                    span BY: 
                                    | David Joe
                                p 5 Jnauary 2021
                .blogh-item
                    figure.blogh-image
                        img(src="https://templates.envytheme.com/erudex/default/assets/images/blogs/blog-1.jpg", alt="")
                    .blogh-card-text
                        .blogh-category 
                            span Techonology
                        h3 Technology Is Machine Learning Right Going On Good Way
                        //- blog perfil autor
                        .blogh-autor.flex
                            figure
                                img(src="https://templates.envytheme.com/erudex/default/assets/images/testimonial-1.jpg", alt="")

                            //- class blog card autor text
                            .blogh-autor-date
                                h4 
                                    span BY: 
                                    | David Joe
                                p 5 Jnauary 2021
    //== banner
    .section.banner2
        .container
            .st-title-top.flex-v
                h2 Subscribe For Newsletter
                p Subscribe To Our Newsletter & Stay Updated
            form.form-suscribe(action="").flex-c 
                .form-item.flex-b
                    input.input-suscribe(type="email", placeholder="Ingresa tu email*")
                    button.btn(type="submit") Suscribirse

