extends ../templates/template

block main
    section.bannerHeader
        .container
            .st-title-top2.flex-v
                h2 Redes Psicologos
                ul.flex
                    li 
                        a(href="index.html") Inicio
                    li >>
                    li Redes Psicologos
    section.our-team
        .container
            .our-team-main
                .our-team-item
                    figure
                        img(src="https://templates.envytheme.com/erudex/default/assets/images/team/team-2.jpg", alt="")
                    .our-team-item-content
                        .our-team-perfil.flex-b
                            //- informacion personsa
                            .our-team-info
                                h3 Jhon Andre
                                h4 Software Enginner
                            //- social media
                            .our-team-socialm.flex
                                a(href="#").flex-v
                                    <i class="fab fa-instagram"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-facebook-f"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-youtube"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-linkedin-in"></i>
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iusto quisquam repudiandae magnam nesciunt quas dolores cumque temporibus nemo at esse cupiditate.
                
                .our-team-item
                    figure
                        img(src="https://templates.envytheme.com/erudex/default/assets/images/team/team-2.jpg", alt="")
                    .our-team-item-content
                        .our-team-perfil.flex-b
                            //- informacion personsa
                            .our-team-info
                                h3 Jhon Andre
                                h4 Software Enginner
                            //- social media
                            .our-team-socialm.flex
                                a(href="#").flex-v
                                    <i class="fab fa-instagram"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-facebook-f"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-youtube"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-linkedin-in"></i>
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iusto quisquam repudiandae magnam nesciunt quas dolores cumque temporibus nemo at esse cupiditate.
                
                .our-team-item
                    figure
                        img(src="https://templates.envytheme.com/erudex/default/assets/images/team/team-2.jpg", alt="")
                    .our-team-item-content
                        .our-team-perfil.flex-b
                            //- informacion personsa
                            .our-team-info
                                h3 Jhon Andre
                                h4 Software Enginner
                            //- social media
                            .our-team-socialm.flex
                                a(href="#").flex-v
                                    <i class="fab fa-instagram"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-facebook-f"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-youtube"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-linkedin-in"></i>
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iusto quisquam repudiandae magnam nesciunt quas dolores cumque temporibus nemo at esse cupiditate.
                
                .our-team-item
                    figure
                        img(src="https://templates.envytheme.com/erudex/default/assets/images/team/team-2.jpg", alt="")
                    .our-team-item-content
                        .our-team-perfil.flex-b
                            //- informacion personsa
                            .our-team-info
                                h3 Jhon Andre
                                h4 Software Enginner
                            //- social media
                            .our-team-socialm.flex
                                a(href="#").flex-v
                                    <i class="fab fa-instagram"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-facebook-f"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-youtube"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-linkedin-in"></i>
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iusto quisquam repudiandae magnam nesciunt quas dolores cumque temporibus nemo at esse cupiditate.
                
                .our-team-item
                    figure
                        img(src="https://templates.envytheme.com/erudex/default/assets/images/team/team-2.jpg", alt="")
                    .our-team-item-content
                        .our-team-perfil.flex-b
                            //- informacion personsa
                            .our-team-info
                                h3 Jhon Andre
                                h4 Software Enginner
                            //- social media
                            .our-team-socialm.flex
                                a(href="#").flex-v
                                    <i class="fab fa-instagram"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-facebook-f"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-youtube"></i>
                                a(href="#").flex-v
                                    <i class="fab fa-linkedin-in"></i>
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iusto quisquam repudiandae magnam nesciunt quas dolores cumque temporibus nemo at esse cupiditate.
                

