extends ../templates/template.pug

//- blog

block main
    section.bannerHeader
        .container
            .st-title-top2.flex-v
                h2 Podcasts
                ul.flex
                    li 
                        a(href="index.html") Inicio
                    li >>
                    li Podcasts
