//- block footer
//-     .container
//-         .footer-upper.flex
//-             .footer-marca.footer-item
//-                 figure
//-                     img(src="https://templates.envytheme.com/erudex/default/assets/images/logo.png", alt="logo")
//-                 p Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate.
//-                 .footer-social-media.flex
//-                     a(href="https://web.facebook.com/educacionpsicologicaperu").flex-v
//-                         <i class="fab fa-facebook-f"></i>
//-                     a(href="https://www.youtube.com/c/EducaciónPsicológica").flex-v
//-                         <i class="fab fa-youtube"></i>
//-             .footer-item
//-                 h3 Navegacion Links
//-                 ul.fnav-list
//-                     li 
//-                         a(href="") About Us
//-                     li 
//-                         a(href="") News & Blogs
//-                     li 
//-                         a(href="") Services
//-                     li 
//-                         a(href="") Products
//-                     li 
//-                         a(href="") Contact
//-             .footer-item
//-                 h3 Servicios
//-                 ul.fnav-list
//-                     li 
//-                         a(href="") About Us
//-                     li 
//-                         a(href="") News & Blogs
//-                     li 
//-                         a(href="") Services
//-                     li 
//-                         a(href="") Products
//-                     li 
//-                         a(href="") Contact
//-             .footer-item.footer-contact
//-                 h3 Contacto
//-                 .footer-contact-item
//-                     h4 Telefono:
//-                     a(href="") (+51) 987 654 432
//-                 .footer-contact-item
//-                     h4 Email:
//-                     a(href="") edu.psicologica@gmail.com 
//-                 .footer-contact-item
//-                     h4 Dirección:
//-                     a(href="") Trujillo - Perú