<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        link(rel="shortcut icon", href="./images/favicon.png", type="image/x-icon")

        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet", href="css/styles.css")
        title Educación Psicologica
    body
        header.header
            .container
                section.top-date.flex.flex-b
                    .top-date-left.flex
                        .top-date-phone.flex
                            <i class="fas fa-headphones-alt"></i>
                            p + 51 948 966 291
                        span.line-v
                        .top-date-email.flex
                            <i class="fas fa-headphones-alt"></i>
                            p edu.psicologica@gmail.com
                    .top-date-right.flex
                        .top-date-request.flex
                            <i class="fas fa-headphones-alt"></i>
                            p Request info
                        span.line-v
                        .top-date-search.flex
                            <i class="fas fa-headphones-alt"></i>
                            p Search
                section.header-nav.flex-b
                    a(href="index.html").header-nav-logo
                        img(src="./images/logo.png", alt="")
                    .header-nav-list.flex
                        a(href="index.html") Inicio
                        a(href="about.html") Sobre nosotros
                        a(href="eventos.html") Eventos
                        a(href="red-psicologos.html") Red Psicologos
                        a(href="podcasts.html") Podcast
                        a(href="blog.html") Blog
                        a(href="#") Campus Virtual
                    .header-button
                        a(href="").btn Login or Register
        
        block main

        footer.footer
            .container
                .footer-upper.flex
                    .footer-marca.footer-item
                        figure
                            img(src="https://templates.envytheme.com/erudex/default/assets/images/logo.png", alt="logo")
                        p Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate.
                        .footer-social-media.flex
                            a(href="https://web.facebook.com/educacionpsicologicaperu", target="_blank", rel="noopener noreferrer").flex-v
                                <i class="fab fa-facebook-f"></i>
                            a(href="https://www.youtube.com/c/EducaciónPsicológica", target="_blank", rel="noopener noreferrer").flex-v
                                <i class="fab fa-youtube"></i>
                    .footer-item
                        h3 Navegacion Links
                        ul.fnav-list
                            li 
                                a(href="") About Us
                            li 
                                a(href="") News & Blogs
                            li 
                                a(href="") Services
                            li 
                                a(href="") Products
                            li 
                                a(href="") Contact
                    .footer-item
                        h3 Servicios
                        ul.fnav-list
                            li 
                                a(href="") About Us
                            li 
                                a(href="") News & Blogs
                            li 
                                a(href="") Services
                            li 
                                a(href="") Products
                            li 
                                a(href="") Contact
                    .footer-item.footer-contact
                        h3 Contacto
                        .footer-contact-item
                            h4 Telefono:
                            a(href="") (+51) 987 654 432
                        .footer-contact-item
                            h4 Email:
                            a(href="") edu.psicologica@gmail.com 
                        .footer-contact-item
                            h4 Dirección:
                            a(href="") Trujillo - Perú

        
        //- swiper
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="js/scripts-min.js")